@import './assets/css/bootstrap.min.css';


.reg {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.reg > h1 {
  text-align: center;

  
}

body {
  background-image: url('./assets/queh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.head {
  font-size: 45px;
  font-display: block;

}


.btn-primary {
   background: gold linear-gradient(180deg, #f5cb42, gold) repeat-x
}